@import url('bootstrap');

body {
  font-family: "Open Sans";
}

header {
  margin: 1rem 0 1rem 0;
}

nav {
  width: 70%;
  margin: auto;
}

nav div {
  font-size: 12px;
}

.nav-link:hover {
  color: #0c7cec;
}

nav div div {
  padding: 30px 0 30px 0;
}

nav div div:hover {
  border-bottom: #0c7cec solid 5px;
}