@import url('bootstrap');

body {
  font-family: "Open Sans";
}

/*HEADER*/
nav {
  width: 70%;
  margin: auto;
}

nav div {
  font-size: 12px;
}

.nav-link:hover {
  color: #0c7cec;
}

nav div div {
  padding: 30px 0 30px 0;
  border-bottom: white solid 5px;
}

nav div div:hover {
  border-bottom: #0c7cec solid 5px;
}

/*MAIN*/
main {
  background-color: black;
  padding: 20px 0 20px 0;
}

main section {
  width: 70%;
  margin: auto;
}

.container h3 {
  color: white;
}