@import url('bootstrap');

/* ===========================
   GLOBAL
=========================== */
body {
  font-family: "Open Sans";
}

.container {
  width: 70%;
  margin: auto;
  padding: 0;
}

/* ===========================
   HEADER
=========================== */
header nav {
  width: 70%;
  margin: auto;
}

header nav div {
  font-size: 12px;
}

header nav div div {
  padding: 30px 0;
  border-bottom: 5px solid white;
}

header nav div div:hover {
  color: #0c7cec;
  border-bottom-color: #0c7cec;
}

/* ===========================
   MAIN
=========================== */
main {
  background-color: black;
  padding-bottom: 20px;
}

.jumbotron {
  background: url("./assets/img/jumbotron.jpg") top center / cover no-repeat;
  height: 350px;
  margin-bottom: 55px;
}

.container h3 {
  color: white;
}

main .card {
  background-color: transparent;
  border-radius: unset;
}

main .card-img-top {
  border-radius: unset;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card-title {
  color: white;
}

.card-body {
  padding: 1rem 0;
}

main button.btn {
  display: block !important;
  margin: 0 auto;
  border-radius: unset;
}

/* ===========================
   FOOTER
=========================== */

/* ---------- TOP ---------- */
.footer-top {
  background-color: #077ff2;
  color: white;
}

.footer-top .container {
  padding: 40px 0;
}

.footer-top a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.footer-top .nav-link:hover {
  color: white;
}

.footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-top ul li img {
  height: 40px;
}

.footer-top ul li img#power-visa {
  height: 25px;
}

/* ---------- MID ---------- */
.footer-mid {
  background: url("./assets/img/footer-bg.jpg") center/cover no-repeat;
  color: white;
  padding: 40px 0;
  height: 440px;
  overflow: hidden;
}

.footer-mid img {
  position: relative;
  top: -100px;
}

.footer-mid a {
  color: darkgray;
  padding: 8px 0;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

.footer-mid ul {
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ---------- BOTTOM ---------- */
.footer-bottom {
  background-color: #212529;
  color: #077ff2;
  height: 90px;
  align-content: center;
}

.footer-bottom .container {
  padding: 0;
}

.footer-bottom .nav {
  align-items: center;
  margin: 0;
  display: flex;
}

.footer-bottom .nav div {
  display: flex;
  align-items: center;
}

.footer-bottom button {
  border: solid 2px #077ff2;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 12px;
}

.footer-bottom label {
  font-size: 15px;
  font-weight: bolder;
  color: #077ff2;
  padding: 0 16px;
}

.footer-bottom a {
  padding: 8px;
}