@import url('bootstrap');

body {
  font-family: "Open Sans";
}

/*HEADER*/
nav {
  width: 70%;
  margin: auto;
}

nav div {
  font-size: 12px;
}

nav div div {
  padding: 30px 0 30px 0;
  border-bottom: white solid 5px;
}

nav div div:hover {
  color: #0c7cec;
  border-bottom: #0c7cec solid 5px;
}

/*MAIN*/
main {
  background-color: black;
  padding: 20px 0 20px 0;
}

main section {
  width: 70%;
  margin: auto;
}

.container h3 {
  color: white;
}

/*FOOTER*/
/*TOP*/
.footer-top {
  background-color: #077ff2;

  .container {
    margin: auto;
    width: 70%;
    padding: 40px 0 40px 0;
  }

  ul.nav {
    color: white;
  }

  a {
    color: white;
    font-size: 12px;
  }

  .nav-link:hover {
    color: white;
  }

  ul li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  ul li img {
    height: 40px;
  }
}

/*MID*/
.footer-mid {
  background-image: url("./assets/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 0;
  height: 440px;
  overflow: hidden;

  img {
    top: -100px;
    position: relative;
  }

  a {
    color: darkgray;
    padding: 8px 0;
    font-size: 11px;
    font-weight: bold;
  }

  .container {
    margin: auto;
    width: 70%;
  }

  ul {
    gap: 12px;
  }
}

/*BOTTOM*/
.footer-bottom {
  background-color: #212529;

}